<nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      
        <button class="forward-btn"> < </button>
        <button class="backward-btn">></button>
      
      <form class="d-flex">
        <input class="form-control me-2" *ngif="isSearchFieldVisible" type="search" placeholder="Search" aria-label="Search">
    </form>
  
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
           <button class="log" (click)="OnNavigateToLogin()">Login</button>
          </li>
          <li class="nav-item">
            <button class="sign">Sign Up</button>
          </li>
        </ul>
          </div>
    </div>
  </nav>
  

